*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--background);
}

:root{
    --button-color: #9c9c9c;
    --background-color: #000000;
    --txt-allert: #d9554c;
    --hoover-indicator: #2ebaff;
    --default-indicator: #7f7f7f;
    --background: #232427;
    --background-secondary: #4a4b4d;
    --background-green: #4bc800;
    --background-name: rgba(56, 53, 53, .4);

    /* GRIGLIA VISUALIZZAZIONE  <i class="fas fa-grip-horizontal"></i> */
    /* FULL SCREEN  <i class="fas fa-expand-arrows-alt"></i> */
    /* INDICATORE DESTRO  <i class="fas fa-caret-left"></i> */
    /* INDICATORE SINISTRO  <i class="fas fa-caret-right"></i> */
    /* ANGOLO UP  <i class="fas fa-angle-up"></i> */
    /* MICROFONO  <i class="fas fa-microphone"></i> */
    /* VIDEOCMERA  <i class="fas fa-video"></i> */
    /* INVITO  <i class="fas fa-user-plus"></i> */
    /* GESTIONE PARTECIPANTI  <i class="fas fa-user-friends"></i> */
    /* GRAFICO  <i class="fas fa-chart-bar"></i> */
    /* SHARE  <i class="fas fa-external-link-alt"></i> */
    /* CHAT  <i class="fas fa-comment-dots"></i> */
    /* RECORD  <i class="fas fa-record-vinyl"></i> */
    /* ROOM  <i class="fas fa-th-large"></i> */
    /* DOT  <i class="fas fa-ellipsis-h"></i> */
}

.main{
    height: 100vh;
}



.button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color:  white;
    padding: 10px;
    gap: 30px;
}

.button__style{
    background-image: linear-gradient(var(--background-secondary), var(--background) 60%);
    padding: 8px 10px;
    border-radius: 10px
}

.button__style:hover{
    background-image: linear-gradient(var(--background-secondary), var(--background) 95%);
    cursor: pointer;

}


/* //////////////////////////////////////// */


.box{
    width: 90%;
    height: 68.2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box__card{
    width: 250px;
    height: 149.8px;
    margin: 5px;
    position: relative;
}

.box__card img{
    width: 100%;
    height: 100%
}

.box__card--speaker{
    border: 5px solid yellowgreen;
    border-style: inset
}

.box__card__name{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px 5px;
    background-color: var(--background-name);
    opacity: .7;
    color: white;
}




/* //////////////////////////////////////// */


.foot{
    width: 100%;
    height: 60px; 
    background-image: linear-gradient(var(--background-secondary), var(--background) 40%);
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}

.foot__box{
    width: 60px;
    height: 60px;
    margin: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.foot :nth-of-type(11){
    margin-left: auto;
}

.foot :nth-of-type(3){
    margin-left: auto;
}

.foot__box__icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
}

.foot__icon{
    color: white;
    font-size: 1.5em;
    text-align: center;
    display: block;
}

.foot__prg{
    color: white;
    text-align: center;
    font-size: .8em;
}


.foot__box__angle{
    height: inherit;
    font-size: 1.3em;
    color: white;
    padding-top: 10px;
}

.foot__icon--green{
    color: var(--background-green)
}

.foot__prg--red{
    color: var(--txt-allert);
}

.foot__box--end{
    background-color: var(--background-secondary);
    margin-right: 0;
    width: 150px;
    /* height: 80px; */
    font-size: 1.3em
}

.foot__prg--end{
    color: var(--txt-allert);
}